##=======================================================================
## Outputs
##=======================================================================





##=======================================================================
## Python
##=======================================================================
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg




##=======================================================================
## Sphinx
##=======================================================================
docs/_build/





##=======================================================================
## Ipython
##=======================================================================
.ipynb_checkpoints





##=======================================================================
## Mac
##=======================================================================
.DS_Store
.Spotlight-V100
.Trashes
*.dSYM/
*.su
*.idb
*.pdb


##=======================================================================
## Latex  (Note: I need .log files for shear analysis)
##=======================================================================
*.aux
*.bbl
*.blg
*.lof
*.lot
*.synctex.gz
*.toc



##=======================================================================
## C
##=======================================================================
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.o
*.ko
*.obj
*.elf

